body {
    /*background-image: url("background.jpg");*/
    /*background-image: linear-gradient(to left,#42275a, #734b6d);*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #f5f5f5;
}
/* Style for the modal */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
    max-width: 400px; /* Set the maximum width of the modal */
    width: 100%; /* Make the modal responsive */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the close button */
#closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #555;
}


/* Style for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}



/* Style for the "Add Product" button */
#addProductBtn {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addProductBtn:hover {
    background-color: #45a049;
}

/* Style for the "Delete All Products" button */
#deleteAllProductBtn {
    padding: 10px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#deleteAllProductBtn:hover {
    background-color: red;
}





/* Style for the Delete Product By Id modal */
.deleteModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
    max-width: 400px; /* Set the maximum width of the modal */
    width: 100%; /* Make the modal responsive */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the close button */
#closeProductModal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #555;
}

#deleteProductByIdBtn {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#deleteProductByIdBtn:hover {
    background-color: #45a049;
}


/**/
/**/
/*Product-List and Product-Card styles Starts here*/
#productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
    list-style: none;
}

/* Style for each product card */
/*.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
}*/


.product-card {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: #2d8cf0;
  /*width: 230px;
  height: 300px;*/
  background: var(--bg-color);
  background-color: #f9f9f9;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  /*display: flex;*/
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  margin: 10px 0;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-card:last-child {
  justify-content: flex-end;
}
.product-card:hover {
 transform: translateY(-2%);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.product-card:hover  {
  transform: scale(1.05);
}


#productList .product-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #ffcaa6;
    border-radius: .5rem;
    transition: .3s ease;
}

#productList .product-card img:hover {
 transform: translateY(-25%);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}


#productName, #productPrice {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}
/*#productId ,#productQuantity {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}*/
#productId ,#productQuantity {
display:none;
}
#productDescription {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowing content */
  text-overflow: ellipsis; /* Display ellipsis (...) when text overflows */
  max-width: 250px; /* Set the maximum width for the text */
}


/*Product-List and Product-Card styles Ends here*/
/**/
/**/



#productList .product-card button {

                    display: inline-block;
                    outline: none;
                    cursor: pointer;
                    font-size: 12px;
                    line-height: 1;
                    border-radius: 500px;
                    transition-property: background-color,border-color,color,box-shadow,filter;
                    transition-duration: .3s;
                    border: 1px solid transparent;
                    letter-spacing: 2px;
                    min-width: 140px;
                    text-transform: uppercase;
                    white-space: normal;
                    font-weight: 700;
                    text-align: center;
                    padding: 16px 14px 18px;
                    color: #616467;
                    box-shadow: inset 0 0 0 2px #616467;
                    background-color: transparent;
                    height: 40px;
                    }
#productList .product-card button:hover{
                        color: #fff;
                        background-color: #616467;
                    }


#clearCart{
    display: inline-block;
                      outline: none;
                      cursor: pointer;
                      font-size: 12px;
                      line-height: 1;
                      border-radius: 200px;
                      transition-property: background-color,border-color,color,box-shadow,filter;
                      transition-duration: .3s;
                      border: 1px solid transparent;
                      letter-spacing: 2px;
                      min-width: 140px;
                      text-transform: uppercase;
                      white-space: normal;
                      font-weight: 700;
                      text-align: center;
                      padding: 16px 14px 18px;
                      color: #616467;
                      box-shadow: inset 0 0 0 2px #616467;
                      background-color: transparent;
                      height: 40px;
}

#clearCart:hover{
                        color: #fff;
                        background-color: #616467;
                        text-align: center;
                       padding: 16px 14px 18px;
                    }




#cartList .product-card button{
  background-color: white;
  color: black;
  border: 2px solid red; /* Green */
  border-radius: 200px;
                        transition-property: background-color,border-color,color,box-shadow,filter;
                        transition-duration: .3s;
}

#cartList .product-card button:hover{
                        color: #fff;
                        background-color: #616467;
                    }




#cartList {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 1em;
            list-style: none;
        }






/**/
/**/
/* CSS styles for login and registration forms */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 16px inset #1C6EA4;
    border-radius: 16px;
    z-index: 1000;
    max-width: 600px;
}

.popup label {
    display: block;
    margin-bottom: 10px;
}

.popup input[type="text"],
.popup input[type="password"],
.popup input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
}

.popup button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
}


/* Additional CSS styles for login and registration forms */

.form-title {
    text-align: center;
    color: #333;
}

.btn-signin,
.btn-register {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-signin:hover,
.btn-register:hover {
    background-color: #45a049;
}

.btn-register {
    text-decoration: underline;
    color: red;
}

.popup {
    /* Existing styles */
    max-width: 500px; /* Increase box size */
}

.popup button[type="submit"] {
    /* Additional styles for the submit button */
    background-color: #3498db;
    border-radius: 5px;
    border: 2px solid #3498db;
    color: white;
    font-weight: bold;
}

.popup button[type="submit"]:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

.popup button#loginFromRegister {
    /* Styles for the "Sign In" button */
    float: right;
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.popup button#loginFromRegister:hover {
    background-color: #c0392b;
}



#LoginButton{
    display:flex;
    float:right
}

#login {
    background-color: #f44336; /* Red background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add some padding */
    cursor: pointer; /* Change cursor to pointer on hover */
}


#userEmail {
   font-weight: 300;
   margin-right: 10px;
   margin-left: 10px;
   border: 10px outset #000000;
}

#logout {
    background-color: #f44336; /* Red background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add some padding */
    cursor: pointer; /* Change cursor to pointer on hover */
}

#logout:hover {
    background-color: #d32f2f; /* Darker red background color on hover */
}








//Order Details pop-up
/* Style the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Style the modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

/* Style the close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




/*Order Track Styles*/
#orderTrackDetails {
  margin-top: 20px;
}

#orderTrack {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#orderTrack:hover {
  background-color: #45a049;
}




/**/
/**/
/*Search Bar Product Styles Starts here*/

/* Style for the form labels and inputs */
 label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
    --timing: 0.3s;
    --width-of-input: 30%;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #ffffff;
    --border-color: #ffffff;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: #f0f0f0;;
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}


/*Search Product Styles Ends here*/
/**/
/**/
